@model MyPortfolioWebApp.Models.Board

@{
    ViewData["Title"] = "Delete";
    int boardId = ViewBag.BoardId != null ? (int)ViewBag.BoardId : 0;
}

<section id="board" class="section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Board</h2>
        <p>Lorem ipsum dalat sit amet.</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h4>Delete</h4>
        <hr />
        <div class="row">
            <div class="col-md">
                <form asp-controller="Board" asp-action="VerifyEmailForDelete" method="post">
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="id" value="@boardId" />
                    <!-- action hidden input은 필요 없으면 제거 -->

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="이메일 입력" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="이메일 확인" class="btn btn-sm btn-success btn-kelly" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}