@model MyPortfolioWebApp.Models.Board

@{
    ViewData["Title"] = "Create";
}

<section id="board" class="section">
    <div class="container section-title" data-aos="fade-up">
        <h2>자유 게시판</h2>
        <p>자유롭게 글을 작성해 주세요.</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h4>글쓰기</h4>
        <hr />
        <div class="row">
            <div class="col-md">
                <form asp-controller="Board" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- 화면에는 나타나지 않지만 HTML 구조상에 포함된 값 -->
                    @* <input asp-for="Writer" type="hidden" /> *@
                    <input asp-for="PostDate" type="hidden" />
                    <input asp-for="ReadCount" type="hidden" />

                    <!-- 번호, 이메일, 작성자, 제목, 내용, 작성일, 조회수 -->
                    <!--
                        작성해야 하는 것 이메일, 작성자, 제목, 내용
                        작성하지 않아도 되는 것 번호, 작성일, 조회수
                    -->
                    <div class="form-group row mb-2">
                        @* 이메일 *@
                        <div class="col-md-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        @* 작성자 *@
                        <div class="col-md-6">
                            <label asp-for="Writer" class="control-label"></label>
                            <input asp-for="Writer" class="form-control" />
                            <span asp-validation-for="Writer" class="text-danger"></span>
                        </div>
                    </div>
                    @* 제목 *@
                    <div class="form-group mb-2">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    @* 내용 *@
                    <div class="form-group mb-2">
                        <label asp-for="Contents" class="control-label"></label>
                        @* <input asp-for="Description" class="form-control" /> *@
                        <textarea asp-for="Contents" class="form-control editor" rows="10" placeholder="본문내용"></textarea>
                        <span asp-validation-for="Contents" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="글쓰기" class="btn btn-sm btn-success btn-kelly" />
                        <a asp-action="Index" class="btn btn-sm btn-success">목록</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- 입력 검증 스크립트 포함 -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}